/* horrible css below hehe */

.box{
    width:50%;
    height:100px;
    background: rgb(84, 186, 221);
    border: 1px solid black;
    margin-top:10px;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    font-size: large;
    text-align: center;
   /* border: 2px dashed #f69c55;
    */
}
.box:hover{
    background: rgb(10,74,132);
}

#intro_box{
    text-align:center;
}



.display-5 {
    font-size: 3rem;
}
.bd-lead{
    font-size:1.5rem;
}

@media (max-width: 1100px){
    .btn{
        display:block;
        width:100%;
        font-size:3rem;
        font-weight: bold;
    }

    .box{
        width:100%;
        font-size: 2.2rem;
    }

    #question_box{
        margin-top:200px;
    }

    #boxes{
        margin-bottom:200px;
    }

    .display-5 {font-size:5.9rem;} /*1rem = 16px*/

    .bd-lead {
        font-size:4rem;
    }
}

@media (min-width: 1200px) {  
    

}
